@import "font-awesome/less/font-awesome.less";
@import "weather-icons/weather-icons/weather-icons.less";

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans';
	line-height: 1;
	color: white;
	overflow: hidden;
}

* {
	z-index: 4;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow:none;
	text-rendering: optimizeLegibility;
}

.wi {
	line-height: normal;
}

.update-info {
	position: absolute;
	top: 0;
	left: 0;

	padding: 10px;
	color: #fff;
	background-color: #222;

	z-index: 100;

	h1 {
		font-size: 14px;
	}

	li {
		font-size: 12px;
	}
}

.bubble-wrapper {
	width: 100%;
	height: 100%;

	position: relative;
}

.bubble {
	position: absolute;

	color: white;
	box-sizing: border-box;
	border-radius: 50%;
	
	box-shadow: 0 0 10px #000;

	border: 2px dashed #fff;

	width: 75px;
	height: 75px;

	background-color: #bf0000;

	&.scaled {
		width: 600px;
		height: 600px;
	}

	&.big {
		width: 380px;
		height: 380px;
		z-index: 100;

		background-color: #222;

		.level-1 {
			font-size: 80px;
		}

		.level-2 {
			font-size: 60px;
			font-weight: bold;
		}
	}

	.level-1 {
		font-size: 36px;
		padding-bottom: 10px;
	}

	.level-2 {
		font-size: 26px;
		font-weight: bold;
		padding-bottom: 5px;
	}

	.level-3 {
		font-size: 21px;
		text-transform: uppercase;
	}

	.light {
		font-weight: 300;
	}

	.bold {
		font-weight: 700;
	}

	.row {
		float: left;
		text-align: center;
		width: 100%;

		&:last-child {
			padding-bottom: 0;
		}
	}
}

.bubble-content-wrapper {
	position: relative;
	top: 50%;
	left: 50%;
	
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);

	float: left;
	
	&.back {
		transform: rotateX(-180deg) translate(-50%, 50%);
		-webkit-transform: rotateX(-180deg) translate(-50%, 50%);
		-moz-transform: rotateX(-180deg) translate(-50%, 50%);
	}
}

.background {
	width: 100%;
	height: 100%;

	position: relative;

	overflow: hidden;

	img {
		position: absolute;
		-webkit-filter: grayscale(1) contrast(5);
		
		&.l1 {
			z-index: 0;
		}

		&.l2 {
			z-index: 1;
			opacity: 0;
		}
	}

	.overlay {
		width: 100%;
		height: 100%;
		
		position: absolute;

		background-color: rgba(53, 189, 173, 0.75);

		z-index: 3;
	}
}

.dashboard {
	width: 100%;
	height: 100%;

	position: absolute;

	top: 0;
	left: 0;

	overflow: hidden;

	.quadrant, .octant {
		.wrapper {
			position: relative;
			left: 50%;
			top: 50%;

			float: left;

			transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
		}
	}

	.quadrant {
		width: 50%;
		height: 50%;

		float: left;

		.octant {
			width: 50%;
			height: 100%;
			float: left;
		}
	}
}



.clock {
	background-color: #35BDAD;

		.time {
			.analog {
				float: left;
			}

			.digital {
				float: left;
				font-size: 120px;
				font-weight: 700;
			}
		}

		.date {
			float: right;
			font-size: 30px;
			font-weight: 300;
			text-transform: uppercase;
		}
}

.weather {
	background-color: #237D73;
	
	.symbol {
		width: 100%;
		font-size: 120px;
		text-align: center;
	}

	.temperature {
		text-align: center;
		font-size: 70px;
		font-weight: 700;

		.valsymbol {
			font-weight: 300;
		}
	}

	.advanced {
		margin-top: 30px;
		text-align: center;
		font-size: 20px;

		.val {
			font-weight: 700;
		}

		.rain {
			margin-right: 15px;
		}

		.wi {
			font-size: 40px;
			vertical-align: middle;
		}
	}
}

.news {
	background-color: #113D38;
}

#clock {
	width: 150px;
	height: 150px;
	margin-left: 0;
}