* {
	box-sizing: border-box;
}

.hidden {
	opacity: 0;
}

.warning {
	font-size: 72px;
}

html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Roboto';
	font-weight: 100;
	line-height: 1;
	color: white;
	background-color: black;
	overflow: hidden;
	text-transform: uppercase;
}

html {
	z-index: 4;
	-webkit-font-smoothing: antialiased;
	text-shadow: none;
	text-rendering: optimizeLegibility;
}

body {
	box-sizing: border-box;
	position: relative;
	padding: 30px;
}

.dashboard {
	width: 100%;
	height: 100%;

	position: relative;
	box-sizing: border-box;
}

#clock {
	width: 100px;
	height: 100px;
	margin: 0;
	margin-left: 25px;
}

.clock {
	float: left;
	clear: both;

	position: absolute;

	top: 0px;
	right: 0px;

	.time, .date {
		float: left;
		clear: both;
	}

	.analog, .digital {
		float: left;
	}

	.date {
		padding-top: 10px;
		font-size: 25px;
		font-weight: 400;
	}

	.time {
		.digital {
			font-size: 100px;
		}
	}
}

.calendar {
	float: left;
	clear: both;
	padding-top: 60px;

	.events {
		display: inline-block;
		margin: 0;
		padding: 0;

		.event {
			font-size: 22px;
			line-height: 1.5;

			display: block;
			float: left;
			clear: both;

			.title {
				width: 250px;
				padding-right: 50px;
				float: left;

				  white-space: nowrap;
				  max-width: 250px;
				  overflow: hidden;
				  text-overflow: ellipsis;
			}

			.start {
				color: #999;
			}
		}
	}
}

.weather {
	float: left;
	clear: both;

	position: absolute;

	top: 0px;
	left: 0px;

	.currentWeather {

		float: left;
		margin-right: 25px;
		padding-right: 25px;

		border-right: 2px solid white;

		.temperature {
			font-size: 100px;

			&* {
				float: left;
			}

			.wi {
				font-size: 60px;
				line-height: 1;
				margin-right: 25px;
			}
		}

		.details {
			padding-top: 10px;
			font-size: 25px;
			font-weight: 400;

			.wi {
				line-height: 0.7;
				padding-right: 15px;
				font-size: 40px;
				vertical-align: middle;
			}

			.wind {
				float: right;
				margin-right: 25px;
			}

			.percipitation {
				float: right;
			}
		}

	}

	.forecasts {
		float: left;

		.forecast {
			float: right;
			clear: both;

			font-size: 25px;
			padding-top: 10px;

			.wi {
				padding-right: 15px;
				vertical-align: middle;
				line-height: 0.7;
				font-size: 30px;
			}

			.hour, .temperature, .wind, .percipitation {
				padding-right: 10px;
			}

			.temperature {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}
}
